* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	display: flex;
	justify-content: flex-end;
	padding: 20px;
	background-color: #1DA1F2;
    margin-bottom: 10px;
}
#add-post-btn {
	background-color: #fff;
	color: #1DA1F2;
	border: none;
	border-radius: 50px;
	padding: 10px 30px;
	font-size: 18px;
	cursor: pointer;
}

#add-post-btn:hover {
	background-color: #1DA1F2;
	color: #fff;
}

.wrapper {
    display: flex;
    flex-direction: row-reverse;
    padding-left: 80px;
    padding-right: 100px;
}
.topics__form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.topics {
    padding-left: 100px;
    padding-right: 80px;
}
h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
}
.topics__search {
    padding: 10px 35px 10px 35px;
    border-radius: 50px;
}
.topics__btn {
    border-radius: 50px;
    background-color: #1DA1F2;
    font-size: 20px;
    margin-bottom: 20px;
}
.topics__items {
    list-style-type: none;
    border-radius: 5px;
    box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.25);
    margin-bottom: 15px;
    padding: 15px;
    text-overflow: ellipsis; white-space: nowrap; overflow: hidden; width: 300px;
    text-transform: 0.5 all;
}
.topics__items:hover {
    border-radius: 50px;
    cursor: pointer;
    background-color: #d8d8d8;
}
.sidebar {
    padding-left: 80px;
    padding-right: 80px;
    width: 500px;
}

.cardsWrapper {
    width: 500px;
}

.icon-twitter {
    margin-bottom: 30px;
    margin-top: 20px;
    padding: 5px;
}
.icon-twitter:hover {
    border-radius: 50%;
    cursor: pointer;
    background-color: #d8d8d8;
    border: none;
    
}
.sidebar__item{
    list-style-type: none;
    display: flex;
    justify-content: start;
    padding-left: 25px;
}
.sidebar__item:hover {
    border-radius: 50px;
    cursor: pointer;
    background-color: #d8d8d8;
    border: none;

}
.sidebar__item a {
    text-decoration: none;
    color: black;
    padding-bottom: 35px;
}

.sidebar__item-icon {
    padding-right: 10px;
}
.card {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.25);
    border-radius: 5px;
    margin-bottom: 4px;
}
.cardTitle {
    color: #0a0a0a;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;

}
.cardText {
    margin-top: 20px;
}
.cardUserName {
    margin-right: 30px;
    font-weight: 700;
}

button {
    margin-top: 20px;
    padding: 5px 10px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 3px;
    background-color:#1DA1F2;
    border-radius: 50px;
    cursor: pointer;

}

